.icon{
  padding: 10px;
}
.imageblock{

}
.newproject{
  padding:40px;
  width: 100%;
}
.contact{
  padding: 10px;
}
.navitem{
  position: relative;
  text-decoration: none;
  padding: 30px;
  color: white;
}

a{
  font-family: sans-serif;
  text-decoration: none;
}
p, h3{
  font-family: sans-serif;
}

li{
  font-family: sans-serif;
}
ul{
  list-style: none;
  padding: 0px;
}
.titles{
  margin: 0px;
  letter-spacing:1px;
  text-decoration-color: white;
}
body{
  margin: 0px;
}

h1{
  color: white;
  font-family: serif;

}

.second-title{
  color: lightgray;
  font-family: sans-serif;

}
.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}



@media only screen and (max-width: 425px){
  .link-button{
      border: 2px solid rgba(0, 0, 0, 0.7);
      text-decoration: none;
      background: #0084b4;
      color: white;
      padding: 10px;
      display: inline-block;
  }
}

@media only screen and (min-width: 1025px){
  .facetrack-desc{
    float: right;
    width: 50%;
  }
  .karpul-desc{
    float: right;
    width: 50%;
    padding:15px;
  }
  .karpul-img{
    width: 40%;
  }
  .lyric-desc{
    float: right;
    width: 40%;

  }
  .lyric-img{
    width: 40%;
  }
  .newproject{
    padding:40px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px){
  .facetrack-desc{
    float: right;
    width: 50%;
  }
  .karpul-desc{
    float: right;
    width: 50%;
    padding:15px;
  }
  .karpul-img{
    width: 40%;
  }
  .lyric-desc{
    float: right;
    width: 40%;

  }
  .lyric-img{
    width: 40%;
  }
  .newproject{
    padding:100px;
    width: 100%;
  }
}

#foot{
  appearance: button;
  border: 2px solid rgba(0, 0, 0, 0.7);
  text-decoration: none;
  background: #0084b4;
  color: white;
  padding: 4px;
  display: inline-block;



}

.link-button{
    appearance: button;
    border: 1px solid rgba(0, 0, 0, 0.7);
    text-decoration: none;
    background: #0084b4;
    color: white;
    padding: 6px;
    display: inline-block;
    box-shadow: 0 2px 0 darkblue;
    border-radius: 2px;
}

.link-button:hover{
  
  color: gold;
}

.link-button:active{
  box-shadow: none;
  top: 3px;
  border-radius: 2px;
}

.inner-titles{
  display: inline-block;
}

.container{
background-color:  #0084b4;
position: relative;
text-align: center;
margin-left: auto;
margin-right: auto;
padding: 20px;
width: 100%;
}

.herotext{
  text-align: center;
  list-style-type: none;
}



.skillsets{
  list-style: none;
  display: inline-block;
  background-color: white;
  padding: 3px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  margin: 4px;
  text-decoration: none;
  border-radius: 3px;
}

.skills-list{
  list-style-type: none;
    text-align: center;
    padding: 0;
}
.facetrack{

  border: 1px solid transparent;
  border-radius: 4px;
  margin: 15px;
  padding: 15px;

  list-style-type: none;
    text-align: center;
}
.lyric{

  border: 1px solid transparent;
  border-radius: 4px;
  margin: 15px;
  padding: 15px;

  list-style-type: none;
    text-align: center;
}

.karpul{

  border: 1px solid transparent;
  border-radius: 4px;
  margin: 15px;
  padding: 15px;


  list-style-type: none;
    text-align: center;
}

.divide{
  border-top: 2px double #8c8b8b;
  width: 80%;
  background-color: #0084b4;
}
.canvas{
  width: 100%;
  height: 200px;
}

.project-list-container{
  margin: auto;
  text-align: center;
}
